<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">

    <title>User Blocked</title>
</head>
<body style="background-color:rgb(230, 176, 176);">
    <div id="container">
        <div id="panel" style=" text-align: center; padding-top: 100px;">
            <h2>{{ msg }}</h2>
            <p>Please contact support for further assistance.
                support email: 6XmXK@example.com
            </p>
            <a href="/login" class="btn btn-primary">Back to Login</a>
        </div>
    </div>
</body>
</html>
