<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <!--third party bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Household Services</title>
</head>
<body style="background-color:rgb(195, 232, 255);">
    <div id="container">
        <div id="panel">
                <div class="container-fluid">
                <div id="frontpage">
                <form action="/" method="POST">
                  <h1>Household Services</h1>
                  <h5>
                  <a href="/login">Login</a> <br>
                  <a href="/customer_register">Register as customer</a> <br>
                  <a href="/professional_register">Register as professional</a>
                  </h5>
                </form>
                </div>
                </div>
        </div>
    </div>  
</body>
</html>